.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  min-width: 91px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background-color: #6c8cff;
}

.load-more {
  display: block;
  margin: 32px auto 16px;
  min-width: 125px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #6c8cff;
}